html {display: none;}

.tooltiptheme {
	border-radius: 5px;
	font-family: 'Lato', sans-serif;
	font-size: 0.8rem;
	background: #8f51e1;
	color: #fff;
}

*::selection, *::-moz-selection, *::-webkit-selection {
	background-color: #8093F1;
	color: #fff;
}

html, body, p, blockquote {
	font-size: 12pt;
    margin: 0;
    padding: 0;
    list-style: none;
}
p {margin-bottom: 10px;}

body {
    font-family: 'Lato', sans-serif;
    color: #444;
    background: rgb(253,197,245);
	background: linear-gradient(180deg, rgba(253,197,245,1) 0%, rgba(179,136,235,1) 100%);
	background-repeat: no-repeat;
	background-attachment: fixed;
}

small {font-size: 0.6rem;}
big {font-size: 10.9rem;}

ul {text-align: left;}
ul, ol {margin-left: -25px;}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

a {
    color: #8093F1;
    text-decoration: none;
    position:relative;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;

	&[data-fancybox] {cursor: zoom-in;}
}

#content {
    position:absolute;
    top: 55px;
    margin-left: 320px;
}

#overlay {
	position: relative;
	opacity: 0.9;
	z-index: 9;
}

#sidebarbg, #topbar, #topbarmask {background-color: white;}
#sidebarbg {
	position:fixed;
	height: 100%;
	width: 300px;
	left: 0;
	padding-top: 150px;
	-webkit-box-shadow: 0 0 15px 0 rgba(0,0,0,0.15);
	-moz-box-shadow: 0 0 15px 0 rgba(0,0,0,0.15);
	box-shadow: 0 0 15px 0 rgba(0,0,0,0.15);
}
#sidebar {
	position:absolute;
	height:auto;
	width:auto;
	max-width:450px;
	bottom:12%;
	right:10px;
	float:right;
}

#topbar {
	position: fixed;
	width: 100%;
	height: 45px;
	top: 0;
	z-index: 9;
	-webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
	user-select: none;

	.right-aligned {
		position: absolute;
		padding: 7px 10px;
		padding-right: 55px;
		right: 0px;
		z-index: 9;
		font-size: 1.2rem;

		i, #topbar img {
			color: #B388EB;
			margin: 0 5px;
			width: 1rem;
			vertical-align: middle;
			display: inline-block;
			-webkit-transition: all 0.3s ease-in-out;
			-moz-transition: all 0.3s ease-in-out;
			-o-transition: all 0.3s ease-in-out;
			transition: all 0.3s ease-in-out;

			:hover {
				color: #8f51e1;
			}
		}
	}
	
}
#topbarcontent {
	position: absolute;
	width: 100%;
	height: 20px;
	padding: 8px 10px;
	left: 350px;
	text-align: center;
}

#topbarmask{
	position:fixed;
	width: 300px;
	height: 60px;
	left: 0px;
	z-index:10;
}

.bottom-bar {
	text-align: center;
	padding: 8px;
	font-size: 1.3rem;
	display: none;

	i, img {
		color: #B388EB;
		margin: 0px 3px;
	}
}

.menubutton {
	float: left;
	font-size: 1.3rem;
	padding: 1px 15px;
	color: #8093F1;
	text-align: center;
	letter-spacing: 0;
	cursor: pointer;
	-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;

	:hover {
		letter-spacing: 1px;
		color: #4763eb;
	}
}

#sidebarbg h3 {
	font-size: 1.6rem;
	padding: 0 25px;
	color: #8f51e1;
	font-weight: normal;
}

.sort-menu {
	list-style-type: none;
	padding: 0;
	overflow-y: auto;
	max-height: calc(100vh - 140px);

	li {
		padding: 7px;
		padding-left: 80px;
		font-size: 1.3rem;
		cursor: pointer;
		color: #444;
		background-color: #FFF;
		-webkit-transition: all 0.4s ease-in-out;
		-moz-transition: all 0.4s ease-in-out;
		-o-transition: all 0.4s ease-in-out;
		transition: all 0.4s ease-in-out;

		:hover {
			background-color: #FDC5F5;
			color: #111;
		}

		&.sub-menu {
			padding: 5px;
			padding-left: 90px;
			font-size: 0.85rem;
		}

		&.selected {
			background-color: #72DDF7;
			color: #333;
		}
	}
}

#website-logo {
	position: fixed;
	top: 50px;
	left: 30px;
	height: 100px;
	width: 220px;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url('/images/jaebirds logo.png');
	z-index: 99;

	&.mini {
		top: 5px;
		left: 55px;
		height: 35px;
		width: 150px;
	}
}

.item {
	width: calc(25% - 11px);
	max-width: 500px;
	min-height: 100px;
	margin-bottom: 8px;
	background-color: #EEE;
	background-image: url('/images/loader.gif');
	background-repeat: no-repeat;
	background-position: center;

	img {
		max-width: 100%;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}

	img, video, iframe {margin-bottom: -4px; /* fix for strip on bottom */}

	.video-container {
		position: relative;
		padding-bottom: 56.25%;
		height: 0;
		overflow: hidden;

		iframe {
			pointer-events: none;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

	video {
		max-width: 100%;
		width: 100%;
	}
}

.item, x:-moz-any-link {margin: 7px;}

.item-bottom {
	position: absolute;
	bottom: 0px;
	background-color: #000;
	color: #FFF;
	opacity: 0;
	height: 20px;
	width: calc(100% - 10px);
	text-align: center;
	padding: 5px;
	-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

	a {color: #FFF;}

	i {
		color: #F7AEF8;
		margin: 0 4px;
	}
}

.item:hover .item-bottom {opacity: 0.75;}

.video-item-icon {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 50pt;
	color: #fff;
	opacity: 0.8;
	top: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

	i {
		background-color: rgba(128, 147, 241, 0.75);
		padding: 25px 30px;
		border-radius: 15px;
	}
}
.item:hover .video-item-icon {opacity: 1;}

.end-card {
	background-color: #FFF;
	background-image: none;
	display: table;
	height: 200px;

	p {
		padding: 5px;
		display: table-cell; 
		vertical-align: middle; 
		text-align: center; 
	}

	i {
		font-size: 5rem;
		margin: 5px auto;
		opacity: 0.1;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

.content-popup {
	position: fixed;
	height: auto;
	max-height: 80%;
	background-color: #FFF;
	border-radius: 3px;
	padding: 20px;
	width: 500px;
	max-width: 85vw;
	margin-top: 70px;
	left: 50%;
	transform: translate(-50%, 0%);
	margin-bottom: 30px;
	display: none;
	text-align: center;
	opacity: 0.9;
	overflow-x: hidden;
	overflow-y: auto;

	h1 {
		font-style: italic;
		color: #8093F1;
	}

	> p {
		margin: 15px auto;
		padding: 10px;
		text-align: justify;
		-moz-text-align-last: center;
		text-align-last: center;
	}
}

.profile-image {
	width: 120px;
	height: 120px;
	margin: 10px auto;
	border-radius: 120px;
	background-image: url('/images/me.jpg');
	background-size: cover;
}

figure.shine {
	position: relative;

	&::before {
		position: absolute;
		top: 0;
		left: -75%;
		z-index: 2;
		display: block;
		content: '';
		width: 50%;
		height: 100%;
		background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
		background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
		-webkit-transform: skewX(-25deg);
		transform: skewX(-25deg);
	}

	&.shine:hover::before {
		-webkit-animation: shine 2s;
		animation: shine 2s;
	}
}

@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}
@keyframes shine {
	100% {
		left: 125%;
	}
}

.about-container {
	.about-item {
		display: inline-block;
		vertical-align: top;
		padding: 10px;
		margin: 3px;
		width: 120px;

		h2 {
			font-size: 1.2rem;
			line-height: 25pt;
		}

		i {
			font-size: 4rem;
			margin-bottom: 10px;
			display: inline-block;
			vertical-align: middle;
		}

		p {
			text-align: left;
			padding-left: 10px;
		}

		ul {
			padding: 0;
			margin: 0;

			li:first-child {margin-top: 5px;}
		}

		span {
			font-weight: bold;
			font-style: italic;
			margin-right: 8px;
		}

		&:first-of-type {
			i, h2, span {color: #f38af5;}
		}

		&:nth-of-type(2) {
			i, h2, span {color: #B388EB;}
		}

		&:nth-of-type(3) {
			i, h2 {color: #8093F1}
		}
	}

	ul {
		list-style-type: none;
		padding: 0px;
		padding-left: 10px;

		&.skills {
			> li {
				margin-bottom: 2px;
				font-weight: bold;
			}

			ul {
				font-size: 0.8rem;
				list-style-type: none;
				padding-left: 5px;
				margin-bottom: 10px;
			}
		}

		&.skills i, &.dreams i {
			font-size: 0.8rem;
			margin-bottom: 0;
		}

		ul li {
			padding: 4px 5px;
			margin: 0;
			font-size: 0.8rem;
			font-weight: normal;
		}

		&.dreams li {margin-bottom: 4px;}
	}
}

#contact-popup {
	form {
		text-align: left;
		padding: 5px 20%;

		label {
			margin-bottom: 3px;
			display: block;
		}

		input, select, textarea {
			width: 100%;
		}

		.centered {
			width: auto;
			margin: 0 auto;
			text-align: center;
		}

		button {
			margin: 5px;
			padding: 20px;
			width: 100px;
			background-color: #B388EB;
			color: #fff;
			font-weight: bold;
			font-size: 1rem;
			border: none;
			cursor: pointer;
		}
	}

	.error {color: red;}
}

#contactFormError {display: none;}

#contactFormSubmitted {
	position: absolute;
	width: 100%;
	text-align: center;
	font-weight: bold;
	display: none;
}

@media screen and (max-width: 1845px) {
	.item {width: calc(33% - 8px);}
}

@media screen and (max-width: 1350px) {
	.item {width: calc(49% - 5px);}
}

@media screen and (max-width: 1280px) {
	html {font-size: 14pt;}

    #sidebarbg {
		margin-left: -300px;
		padding-top: 80px;
		width: 250px;
	}

	#overlay {opacity: 0.95;}

	#topbar {
		height: 60px;

		.right-aligned {padding: 14px 22px 14px 10px;}
	}
    #topbarmask {display: none;}
	#topbarcontent {margin-left: -280px;}

	.menubutton {
		font-size: 1rem;
		padding: 10px 15px 9px 15px;
	}

    #content {
		margin-left: 0px !important;
		width: calc(100vw - 60px);
		padding: 0 30px;
		top: 70px;
		left: 50%;
		transform: translate(-50%, 0%);
		text-align: center;
	}

	.item, .item iframe {width: calc(35% - 46px);}

	#website-logo, #website-logo.mini {
		top: 7px;
		left: 20px;
		height: 45px;
		width: 50px;
		background-image: url('/images/jaebirds logo small.png');
	}
}

@media screen and (max-width: 1000px) {
	.item, .item iframe {width: calc(50% - 36px);}
}

@media screen and (max-width: 600px) {
	.item {width: calc(100% - 60px);}
}

@media screen and (max-width: 524px) {
	#topbar .right-aligned {display: none;}
	.bottom-bar {display: block;}
	.about-item {
		display: block !important;
		margin: 10px auto !important;
		width: 150px !important;
	}
}
