.button-gray-border {
	width: 120px;
}

.on-complete {display: none;}

.error {
	position: relative;
	margin: 3px auto;
	padding: 10px;
	max-width: 500px;
	color: red;
	text-align: center;
}

#order-container ul {
	max-width: 300px;
	margin: 15px auto;
	padding: 0;
}
#order-container ul li {
	margin-bottom: 6px;
	text-align: left;
}