#faq-content-one {
	height: 250px;
}

#faq-tabs .row {
	text-align: center;
	width: 100%;
	padding-left: 25px;
}
#faq-tabs .tab {
	display: inline-block;
	float: none;
	background-color: #f3f3f3;
	color: #333;
	margin: 3px 5px;
	padding: 30px 50px;
	width: 250px;
}
#faq-tabs .tab .icon {
	padding: 10px;
	background-color: #fff;
	border-radius: 50px;
	font-size: 20pt;
	width: 60px;
	height: 60px;
	margin: 0 auto;
}

#faq-tabs .tab .name {
	margin-top: 12px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 16pt;
	font-family: DIN;
}

#faq-tabs .selected .name {color: #8EC837;}

#faq-tabs .tab:hover .name {color: #8EC837;}

.item h3 {
	font-family: DIN;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 15px;
}