h3 {
	color: #8EC837;
}

#index-content-one {
	height: 550px;
	padding: 0;
	overflow: hidden;
}

#index-content-one p {
	text-transform: uppercase;
	font-size: 10pt;
	padding: 10px;
	margin: 0 auto;
	max-width: 600px;
}

#index-content-one .carousel-content {z-index: 9;}

.owl-carousel {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 0;
	opacity: 0.3;
}
.owl-carousel .item {
	height: 550px;
	width: 100%;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

#index-content-three {
	padding: 0;
	height: 400px;
	cursor: pointer;
}

#index-content-three .col-sm-3 {
	height: 100%;
	overflow: hidden;
	padding: 0;
}

#index-content-three h3 {
	text-transform: uppercase;
	color: #FFFFFF;
	font-size: 13pt;
}
#index-content-three a {
	color: inherit;
}

#index-content-three .bg-img {
	position: absolute;
	height: 100%;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	opacity: 0.5;
	-webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

#index-content-three .col-sm-3:hover .bg-img {
	-ms-transform: scale(1.2, 1.2);
    -webkit-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
}

#index-content-five {
	padding-left: 0;
	padding-right: 0;
}

#index-content-five .bg-img {
	height: 250px;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

#index-content-five p {
	margin-top: 20px;
}

#index-content-seven img {
	width: 100px;
	height: 100px;
	margin-bottom: 15px;
}
#index-content-seven h1 {
	font-size: 17pt;
	color: #8EC837;
}
#index-content-seven p {
	max-width: 300px;
	display: inline-block;
}

#index-content-eight .bg-img {
	height: 400px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#newsletter-signup {
	position: fixed;
	bottom: 0;
	right: 0;
	padding: 20px;
	background: #eee;
	z-index: 9999;
}

@media screen and (max-width: 778px) {
	#index-content-three {height: auto;}
	#index-content-three .col-sm-3 {
		height: 200px;
		margin: 0;
	}
	#index-content-three .bg-img {
		height: 120%;
		top: -20px;
	}
	
	#index-content-five p {
		text-align: center !important;
		padding: 20px !important;
	}
	#index-content-five .col-sm-6:nth-of-type(2) {
		padding-left: 0px;
	}
	
	#index-content-seven .col-sm-4 {
		margin-bottom: 20px;
	}
	
	#index-content-eight {
		text-align: center !important;
	}
	#index-content-eight hr {
		text-align: center !important;
		margin: auto !important;
		margin-bottom: 30px !important;
	}
	#index-content-eight .col-sm-4 {
		//height: 350px;
		margin-bottom: 50px;
	}
}