h3 {
	color: #8EC837;
	font-size: 12pt;
}

#recipes-content-one {
	height: 350px;
	padding: 0;
	overflow: hidden;
}

.recipe-preview {
	position: relative;
	height: 450px;
	padding: 0;
}

.recipe-preview .container {
	margin: 0;
	width: 100%;
	padding-right: 0;
}

.recipe-preview .container .row {
	width: 100%;
	height: 450px;
}

.recipe-preview .container .row .col-sm-4 {padding: 20px;}

.recipe-preview .bg-img {
	height: 450px;
	background-size: cover;
	background-position: center;
}

#recipes-tabs {
	padding: 0;
	height: 400px;
	cursor: pointer;
}

#recipes-tabs .col-sm-3 {
	height: 100%;
	overflow: hidden;
	padding: 0;
}

#recipes-tabs h3, #recipes-tabs a {
	text-transform: uppercase;
	color: #FFFFFF;
	font-size: 13pt;
}

#recipes-tabs .bg-img {
	position: absolute;
	height: 100%;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	//background-position: center center;
	opacity: 0.5;
	-webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

#recipes-tabs .col-sm-3:hover .bg-img {
	-ms-transform: scale(1.2, 1.2);
    -webkit-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
}

.easyPaginateNav {
	text-align: center;
	margin: 40px auto;
}
.easyPaginateNav a {
	margin: 0 10px;
	color: #555;
}
.easyPaginateNav a.current {
	color: #8EC837;
}

#recipe-ingredients ul {
	width: 800px;
	max-width: 100%;
	padding: 0;
	margin: 0 auto;
	margin-top: 30px;
	list-style-type: none;
}
#recipe-ingredients ul li {
	min-width: 320px;
	margin-bottom: 5px;
	width: 45%;
	display: inline-block;
	text-align: center;
	text-transform: uppercase;
}

#recipe-instructions div {
	margin: 40px 0;
}

#recipe-instructions div span {
	text-transform: uppercase;
	margin-bottom: 20px;
}

@media screen and (max-width: 778px) {
	#recipes-tabs {height: auto;}
	#recipes-tabs .col-sm-3 {
		height: 200px;
		margin: 0;
	}
	#recipes-tabs .bg-img {
		height: 120%;
		top: -20px;
	}
	
	.recipe-preview {
		text-align: center;
		height: auto;
	}
	.recipe-preview .col-sm-4 {
		top: 0 !important;
		transform: translateY(0%) !important;
	}
	.recipe-preview hr {
		text-align: center !important;
		margin: 20px auto !important;
	}
	.recipe-preview .container .row {height: auto;}
}