#store-add-ons-tabs {
	padding: 0;
	height: 400px;
	cursor: pointer;
}

#store-add-ons-tabs .col-sm-3 {
	height: 100%;
	overflow: hidden;
	padding: 0;
}

#store-add-ons-tabs h3 {
	text-transform: uppercase;
	color: #FFFFFF;
	font-size: 13pt;
}

#store-add-ons-tabs .bg-img {
	position: absolute;
	height: 100%;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	//background-position: center center;
	opacity: 0.5;
	-webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

#store-add-ons-tabs .col-sm-3:hover .bg-img {
	-ms-transform: scale(1.2, 1.2);
    -webkit-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
}

.item {
	display: inline-block;
	width: 200px;
	margin: 10px;
	padding: 20px;
	background-color: #F9F9F9;
}

.item h3 {
	text-transform: uppercase;
}

.item h2 {
	color: #8EC837;
}

.item input {
	width: 80px;
	height: 30px;
	text-align: center;
	font-size: 9pt;
	margin: 0px 2px;
	border: none;
}
.item button {
	display: inline-block;
	height: 30px;
	text-align: center;
	font-size: 8pt;
	text-transform: uppercase;
	border: none;
	margin: 0px 2px;
	background-color: #8EC837;
	color: #FFFFFF;
	-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.item button:hover {background-color: #638c26;}