h3 {
	color: #8EC837;
}

#index-content-one {
	height: 500px;
}

#index-content-one p {
	text-transform: uppercase;
	font-size: 10pt;
	display: inline-block;
	width: 400px;
}

#index-content-three {
	padding: 0;
	height: 400px;
	cursor: pointer;
}

#index-content-three .col-sm-3 {
	height: 100%;
	overflow: hidden;
}

#index-content-three .bg-img {
	position: absolute;
	height: 100%;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	//background-position: center center;
	opacity: 0.5;
	-webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

#index-content-three .col-sm-3:hover .bg-img {
	-ms-transform: scale(1.2, 1.2);
    -webkit-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
}

#index-content-five {
	padding-left: 0;
	padding-right: 0;
}

#index-content-five .bg-img {
	height: 250px;
	width: 100%;
	background-color: #EEEEEE;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

#index-content-five p {
	margin-top: 20px;
}

#index-content-seven img {
	width: 100px;
	height: 100px;
	margin-bottom: 15px;
}
#index-content-seven h1 {
	font-size: 17pt;
	color: #8EC837;
}
#index-content-seven p {
	max-width: 300px;
	display: inline-block;
}

#index-content-eight .bg-img {
	height: 400px;
	background-color: #EEEEEE;
}